body {
    margin: 0;
    font-family: "Poppins";
}
.hero--grid {
    max-width: 80%;
    padding: 50px 50px;
}
.hero--parentgrid{
    display: flex;
    justify-content: column ;
    align-items:center ;
}

.hero--header{
   margin-bottom: 16px;
   padding-left: 20px;
}

.hero--text {
    margin-top: 0;
    padding-left: 20px;

}